.body-container {
    margin-top: 4rem;
    margin-left: 4rem;
    margin-right: 3rem;
  }

  .sub-header {
    font-family: "Lexend Deca", sans-serif;
    letter-spacing: -0.01rem;
    line-height: 1.6rem;
    margin-left: -0.12rem;
    opacity: 0.75;
    width: 21.9rem;
  }

  .open-modal {
    color: #fff;
    margin: 4rem 27rem 4rem 0;
    cursor: pointer;
    background-color: #000000;
    padding: 5px 20px;
    text-align: center;
  }
  
  button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
  }

  @media only screen and (max-width: 30rem) {
    .body-container {
        left: 0;
        margin: 23rem auto auto 1.84rem;
        padding: 0;
        position: absolute;
        text-align: center;
        width: 17rem;
      }

      .sub-header {
        font-family: "Inter", sans-serif;
        font-size: 0.9rem;
        letter-spacing: 0.018rem;
        line-height: 1.58rem;
        margin: 1rem auto auto -0.17rem;
        width: 17rem;
      }

      .open-modal {
        flex-direction: column;
        margin: 4rem 4rem 0;
      }
  }

  @media only screen and (max-width: 768px) {
    /*.open-modal {
      flex-direction: column;
      margin: 4rem 4rem 0;
    } */
  }